
//Common styling site wide

.wrapper {
	margin: 0 auto;
	max-width: 1170px;
	padding: 0 20px;
}

.titleBox {
	margin: 0 auto;
	text-align: center;
	padding: 0 0 60px 0;
}

h3 {
	font-family: $mainfont;
	font-size: 18px;
	text-transform: uppercase;
	color: $primarycolor;
	letter-spacing: 5px;
	font-weight: bold;
}

.italic {
	font-family: $secondfont;
	font-size: 18px;
	font-style: italic;
	color: $secondarycolor;
}

.bold {
	font-family: $mainfont;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	color: $primarycolor;
}

.mainButton {
	font-family: $mainfont;
	font-size: 14px;
	text-transform: uppercase;
	border: 1px solid $primarycolor;
	color: $primarycolor;
	padding: 28px 32px;
	letter-spacing: 5px;
	background-color: white;
	transition: all 0.3s;
}

.mainButton:hover {
	background-color: $primarycolor;
	color: white;
}
