
//These are the site wide variables

//colors 
$primarycolor: #141414;
$secondarycolor: #9f9f9f;
$accentcolor: #eeb013;
$darkbackground: #2f2f2f;
$keyline: #909090;
$border: #ececec;
$formbackground: #1c1c1c;
$blogbackground: #eaeaea;
$footercolor: #202020;
$footertext: #636363;
$footerborder: #2e2e2e;


//fonts 
$mainfont: "Montserrat";
$secondfont: "Crimson Text";


//media queries 

$screen-sm: 480px;  /* Mobile */
$screen-md: 800px;  /* Tablet */
$screen-md2: 975px; 
$screen-lg: 1100px; /* Small Desktop */
$screen-xl: 1900px; /* Extra Large Devices*/
